<h2>List</h2>
<form ng-submit="projectList.submit()">
  <input type="text" ng-model="projectList.query" placeholder="Search" />
  <button type="submit">Search!</button>
</form>
<ul>
  <li ng-repeat="project in projectList.projects">
    <pre>{{project | json}}</pre>
  </li>
</ul>
